body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    color: aliceblue;
    font-family: sans-serif;
    font-weight: bolder;
    background-attachment: fixed;
    
}
img{
    border: 2px dashed;
    color: aliceblue;
}


ul{
    padding: 2px;
    
    
}
li{
    float:left;
    width: 150px;
    height: 50px;
}
a{
    background: linear-gradient(#0b486b,#f56217);
    padding: 8px;
    opacity:.9 ;
    color: #000;
    display: block;
    line-height: 20px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    
}
a:hover{
    font-size: 20px;
}
span{
    font-weight: bold;
    color: aqua;
}

