ol{
    list-style-type: lower-roman;
    color: olivedrab;
}
ul{
    list-style-image: url(b.png);
    color: rgb(216, 10, 105);
    
}
.r{
    list-style-type:lower-greek;
    
}
dl{
    color: blueviolet
}