body{
    font-family: 'Handlee',cursive;
    font-size: 13pt;
    background-color: #efefef;
    padding: 10px;
    
}
h1{
    font-size: 15pt;
    color:#20bcd5;
    text-align: center;
    padding:18px 0 18px 0;
    margin: 0 0 10px 0;
    align-content: center;
}
h1 span{
    border: 4px dashed #20bcd5;
    padding: 10px;

}
hr{
    border: block;
    height: 1px;
    background: #f36f48;
}
form{
    text-align: center;
    margin-top:0;
    align:center;

}
table,th,td{
    border:2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;


}
#contracts{
    text-align: center;
}
form{
    text-align: center;
    margin-top: top;
}